@import "./utilities/variables";
@import "./layout/_footer";
@import "./layout/_header";
@import "./views/home";
@import "./views/servicios";
@import "./views/blog";
@import "./views/faqs";
@import "./views/contacto";
@import "./utilities/mediaqueries";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}