@media (min-width:320px) and (max-width: 576px) {
    /*HOME*/
    h1 {
        font-size: 40px;
    }

    .navbar-nav {
        font-size: $text-medium;
    }
    
    .containerportada .title {
        font-size: $text-medium;
    }

    .card_title {
        font-size: 1.07rem;
    }

    .cards {
        margin-top: $spacing-small;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer p {
        font-size: 13px;
    }

    .icons a {
        font-size: $text-base;
    }

    /*SERVICIOS*/
    .item__servicio, .item__servicio1 {
        width: 375px;
    }

    .title__servicio {
        font-size: 1.5rem;
    }
    
    .description__servicio {
        font-size: 1.2rem;
    }

    /*BLOG*/
    .infoblog, .infoblogreverse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .infoblog p, .infoblogreverse p {
        font-size: 1.3rem;
    }

    .infoblog h3, .infoblogreverse h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    /*FAQS*/
    .containerfaqs {
        margin: 100px 30px;
    }
    .accordion-button {
        font-size: 1.2rem;
    }

    .accordion-body {
        font-size: $text-small;
    }

    /*CONTACTO*/
    .containercontacto {
        flex-direction: column;
        align-items: center;
    }

    .formcontacto {
        max-width: 375px;
        margin-left: 1rem;
    }

    .mapa iframe {
        max-width: 375px;
        margin: 1.5rem;
    } 
}

@media (min-width:577px) and (max-width: 992px) {
    /*HOME*/
    h1 {
        font-size: 40px;
    }

    .navbar-nav {
        font-size: $text-base;
    }
    
    .containerportada .title {
        font-size: $text-medium;
    }

    .card_title {
        font-size: 1.07rem;
    }

    .cards {
        margin-top: $spacing-small;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .footer p {
        font-size: 13px;
    }

    .icons a {
        font-size: $text-base;
    }

    /*SERVICIOS*/
    .item__servicio, .item__servicio1 {
        width: 575px;
    }

    .title__servicio {
        font-size: 1.7rem;
    }

    /*BLOG*/
    .infoblog, .infoblogreverse {
        flex-direction: column;
        align-items: center; 
    }
        
    .infoblog p, .infoblogreverse p {
        font-size: 1.3rem;
    }

    .infoblog h3, .infoblogreverse h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    /*FAQS*/
    .containerfaqs {
        margin: 100px 30px;
    }
    .accordion-button {
        font-size: 1.2rem;
    }
    .accordion-body {
        font-size: $text-small;
    }

    /*CONTACTO*/
    .containercontacto {
        flex-direction: column;
        align-items: center;
    }

    .formcontacto {
        max-width: 575px;
        margin-left: 1rem;
    }

    .mapa iframe {
        max-width: 575px;
        margin: 1rem;
    } 
}

@media (max-width: 1304px) {
    /*HOME*/

    .navbar-nav {
        font-size: $text-small;
    }

    .cards {
        margin-top: $spacing-small;
    }

    .icons a {
        font-size: $text-base;
    }

    /*CONTACTO*/
    .formcontacto {
        margin-left: .5rem;
        margin-right: 1rem;
    }
    

    .mapa iframe {
        max-width: 700px;
        margin: 1rem;
    } 
}
