/*COLORES*/
$primary:#016773;
$secondary:#112d52;
$alternative: #ba3030;
$text-color: black;

/*ESPACIOS*/
$spacing-xlarge: 9rem;
$spacing-large: 6rem;
$spacing-medium: 3.3rem;
$spacing-small: 2rem;
$spacing-xsmall:1rem;

/*FONT-SIZE*/
$font-title:1.5rem;
$text-large: 5em;
$text-medium: 3em;
$text-base: 1.5em;
$text-small: 1em;

